pipeline/PL_FullLoad_Child.json
{
	"name": "PL_FullLoad_Child",
	"properties": {
		"activities": [
			{
				"name": "Set SQL string",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Fetch the dynamic query",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_SQLString",
					"value": {
						"value": "@activity('Fetch the dynamic query').output.firstRow.SQLstring",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Fetch the dynamic query",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Log table details_start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlMISource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_GenerateSQLString_Full]",
						"storedProcedureParameters": {
							"tableName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.param_tableName",
									"type": "Expression"
								}
							},
							"loadType": {
								"value": "Full"
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ETLControlDB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Execute notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Set SQL string",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/lgu5247@hca.corpad.net/HRGA/Dynamic load/Prod/hrga_Infor_to_AzureSQL",
					"baseParameters": {
						"param_SQLString": {
							"value": "@variables('var_SQLString')",
							"type": "Expression"
						},
						"param_tableName": {
							"value": "@pipeline().parameters.param_tableName",
							"type": "Expression"
						},
						"param_currentDate": {
							"value": "@pipeline().parameters.param_currentDate",
							"type": "Expression"
						},
						"param_keyColumn": {
							"value": "\"A\"",
							"type": "Expression"
						},
						"param_folderPath": {
							"value": "@activity('Fetch the dynamic query').output.firstRow.SourceFolderPath",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Log table details_Success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Empty the folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_TableLog]",
					"storedProcedureParameters": {
						"fileCount": {
							"value": {
								"value": "@activity('Execute notebook').output.runOutput[2]",
								"type": "Expression"
							},
							"type": "String"
						},
						"incrementCount": {
							"value": {
								"value": "@activity('Execute notebook').output.runOutput[1]",
								"type": "Expression"
							},
							"type": "String"
						},
						"insertedCount": {
							"value": null,
							"type": "String"
						},
						"isStart": {
							"value": "0",
							"type": "String"
						},
						"loadEndTime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"loadStartTime": {
							"value": null,
							"type": "DateTime"
						},
						"pipelineID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineName": {
							"value": null,
							"type": "String"
						},
						"sourceCount": {
							"value": {
								"value": "@activity('Execute notebook').output.runOutput[0]",
								"type": "Expression"
							},
							"type": "String"
						},
						"status": {
							"value": "Success",
							"type": "String"
						},
						"tableName": {
							"value": {
								"value": "@pipeline().parameters.param_tableName",
								"type": "Expression"
							},
							"type": "String"
						},
						"targetCount": {
							"value": {
								"value": "@activity('Execute notebook').output.runOutput[3]",
								"type": "Expression"
							},
							"type": "String"
						},
						"updatedCount": {
							"value": null,
							"type": "String"
						},
						"masterPipelineID": {
							"value": null
						},
						"masterPipelineName": {
							"value": null
						}
					}
				}
			},
			{
				"name": "Log table details_Failure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Empty the source folder",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_TableLog]",
					"storedProcedureParameters": {
						"fileCount": {
							"value": null,
							"type": "String"
						},
						"incrementCount": {
							"value": null,
							"type": "String"
						},
						"insertedCount": {
							"value": null,
							"type": "String"
						},
						"isStart": {
							"value": "0",
							"type": "String"
						},
						"loadEndTime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"loadStartTime": {
							"value": null,
							"type": "DateTime"
						},
						"pipelineID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineName": {
							"value": null,
							"type": "String"
						},
						"sourceCount": {
							"value": null,
							"type": "String"
						},
						"status": {
							"value": "Failure",
							"type": "String"
						},
						"tableName": {
							"value": {
								"value": "@pipeline().parameters.param_tableName",
								"type": "Expression"
							},
							"type": "String"
						},
						"targetCount": {
							"value": null,
							"type": "String"
						},
						"updatedCount": {
							"value": null,
							"type": "String"
						},
						"masterPipelineID": {
							"value": null
						},
						"masterPipelineName": {
							"value": null
						}
					}
				}
			},
			{
				"name": "Log table details_start",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get the RunAuditID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_TableLog]",
					"storedProcedureParameters": {
						"fileCount": {
							"value": null,
							"type": "String"
						},
						"incrementCount": {
							"value": null,
							"type": "String"
						},
						"insertedCount": {
							"value": null,
							"type": "String"
						},
						"isStart": {
							"value": "1",
							"type": "String"
						},
						"loadEndTime": {
							"value": null,
							"type": "DateTime"
						},
						"loadStartTime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"pipelineID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"sourceCount": {
							"value": null,
							"type": "String"
						},
						"status": {
							"value": null,
							"type": "String"
						},
						"tableName": {
							"value": {
								"value": "@pipeline().parameters.param_tableName",
								"type": "Expression"
							},
							"type": "String"
						},
						"targetCount": {
							"value": null,
							"type": "String"
						},
						"updatedCount": {
							"value": null,
							"type": "String"
						},
						"masterPipelineID": {
							"value": {
								"value": "@pipeline().parameters.param_masterPipelineID",
								"type": "Expression"
							}
						},
						"masterPipelineName": {
							"value": {
								"value": "@pipeline().parameters.param_masterPipelineName",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Get the Source Folder Path",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Execute notebook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_StorageFolder",
						"type": "DatasetReference",
						"parameters": {
							"param_containerName": {
								"value": "@activity('Fetch the dynamic query').output.firstRow.ContainerName",
								"type": "Expression"
							},
							"param_folderPath": {
								"value": "@concat(activity('Fetch the dynamic query').output.firstRow.SourceFolderPath,pipeline().parameters.param_currentDate)",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Get the Source FolderPath",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Execute notebook",
						"dependencyConditions": [
							"Failed",
							"Skipped"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_StorageFolder",
						"type": "DatasetReference",
						"parameters": {
							"param_containerName": {
								"value": "@activity('Fetch the dynamic query').output.firstRow.ContainerName",
								"type": "Expression"
							},
							"param_folderPath": {
								"value": "@concat(activity('Fetch the dynamic query').output.firstRow.SourceFolderPath,pipeline().parameters.param_currentDate)",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Loop through files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get the Source Folder Path",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get the Source Folder Path').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Archive file",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@concat(activity('Fetch the dynamic query').output.firstRow.SourceFolderPath,pipeline().parameters.param_currentDate)",
											"type": "Expression"
										},
										"wildcardFileName": {
											"value": "@item().Name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_StorageFolder",
									"type": "DatasetReference",
									"parameters": {
										"param_containerName": {
											"value": "@activity('Fetch the dynamic query').output.firstRow.ContainerName",
											"type": "Expression"
										},
										"param_folderPath": "none"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_StorageFolder",
									"type": "DatasetReference",
									"parameters": {
										"param_containerName": {
											"value": "@activity('Fetch the dynamic query').output.firstRow.ContainerName",
											"type": "Expression"
										},
										"param_folderPath": {
											"value": "@concat(activity('Fetch the dynamic query').output.firstRow.ArchiveFolderPath,pipeline().parameters.param_currentDate)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Empty the folder",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Loop through files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_StorageFolder",
						"type": "DatasetReference",
						"parameters": {
							"param_containerName": {
								"value": "@activity('Fetch the dynamic query').output.firstRow.ContainerName",
								"type": "Expression"
							},
							"param_folderPath": {
								"value": "@concat(activity('Fetch the dynamic query').output.firstRow.SourceFolderPath,pipeline().parameters.param_currentDate)",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Loop through source files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get the Source FolderPath",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get the Source FolderPath').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Archive source file",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@concat(activity('Fetch the dynamic query').output.firstRow.SourceFolderPath,pipeline().parameters.param_currentDate)",
											"type": "Expression"
										},
										"wildcardFileName": {
											"value": "@item().Name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_StorageFolder",
									"type": "DatasetReference",
									"parameters": {
										"param_containerName": {
											"value": "@activity('Fetch the dynamic query').output.firstRow.ContainerName",
											"type": "Expression"
										},
										"param_folderPath": "none"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_StorageFolder",
									"type": "DatasetReference",
									"parameters": {
										"param_containerName": {
											"value": "@activity('Fetch the dynamic query').output.firstRow.ContainerName",
											"type": "Expression"
										},
										"param_folderPath": {
											"value": "@concat(activity('Fetch the dynamic query').output.firstRow.FailureFolderPath,pipeline().parameters.param_currentDate)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Empty the source folder",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Loop through source files",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_StorageFolder",
						"type": "DatasetReference",
						"parameters": {
							"param_containerName": {
								"value": "@activity('Fetch the dynamic query').output.firstRow.ContainerName",
								"type": "Expression"
							},
							"param_folderPath": {
								"value": "@concat(activity('Fetch the dynamic query').output.firstRow.SourceFolderPath,pipeline().parameters.param_currentDate)",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Log Pipeline start",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_PipelineLog]",
					"storedProcedureParameters": {
						"endDateTime": {
							"value": null,
							"type": "DateTime"
						},
						"isStart": {
							"value": "1",
							"type": "String"
						},
						"pipelineID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"runAuditID": {
							"value": null,
							"type": "Int64"
						},
						"startDatetime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"status": {
							"value": null,
							"type": "String"
						},
						"triggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineType": {
							"value": "Child"
						},
						"pipelineLoad": {
							"value": "Full"
						}
					}
				}
			},
			{
				"name": "Log Pipeline end_Success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Log table details_Success",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_PipelineLog]",
					"storedProcedureParameters": {
						"endDateTime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"isStart": {
							"value": "0",
							"type": "String"
						},
						"pipelineID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineName": {
							"value": null,
							"type": "String"
						},
						"runAuditID": {
							"value": {
								"value": "@activity('Get the RunAuditID').output.firstRow.RunAuditID",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"startDatetime": {
							"value": null,
							"type": "DateTime"
						},
						"status": {
							"value": "Success",
							"type": "String"
						},
						"triggerName": {
							"value": null,
							"type": "String"
						},
						"pipelineType": {
							"value": null
						},
						"pipelineLoad": {
							"value": null
						}
					}
				}
			},
			{
				"name": "Get the RunAuditID",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Log Pipeline start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlMISource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT MAX([RunAuditID]) AS [RunAuditID] FROM ControlETLRun WHERE [Pipeline_ID] = ''',pipeline().RunId,''' AND [Pipeline_Name] = ''',pipeline().Pipeline,'''')",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ETLControlDB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Log Pipeline end_Failure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Log table details_Failure",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_PipelineLog]",
					"storedProcedureParameters": {
						"endDateTime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"isStart": {
							"value": "0",
							"type": "String"
						},
						"pipelineID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineName": {
							"value": null,
							"type": "String"
						},
						"runAuditID": {
							"value": {
								"value": "@activity('Get the RunAuditID').output.firstRow.RunAuditID",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"startDatetime": {
							"value": null,
							"type": "DateTime"
						},
						"status": {
							"value": "Failure",
							"type": "String"
						},
						"triggerName": {
							"value": null,
							"type": "String"
						},
						"pipelineType": {
							"value": null
						},
						"pipelineLoad": {
							"value": null
						}
					}
				}
			}
		],
		"parameters": {
			"param_tableName": {
				"type": "string"
			},
			"param_masterPipelineID": {
				"type": "string"
			},
			"param_masterPipelineName": {
				"type": "string"
			},
			"param_currentDate": {
				"type": "string"
			}
		},
		"variables": {
			"var_SQLString": {
				"type": "String"
			}
		},
		"annotations": []
	}
}